machine:
  type: controlplane
  network:
    hostname: k8s-01
    interfaces:
      - deviceSelector:
          hardwareAddr: bc:24:11:0a:25:8a
        addresses:
          - 10.2.130.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.2.130.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.2.130.10
  # disks:
  #   - device: /dev/disk/by-id/nvme-KINGSTON_SNV2S1000G_50026B7785AACA55
  #     partitions:
  #       - mountpoint: /var/mnt/extra
  install:
    image: factory.talos.dev/installer/0c80499d507614fd465408af43005cc21833e726b363279a2bd51365da07639f:{{ ENV.TALOS_VERSION }}
